<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <form th:action="@{/edit}" method="post" th:object="${accountEdit}">
        <input type="hidden" th:field="*{id}">
        <div class="form-group">
            <label for="fullName">FULLNAME</label>
            <input type="text" class="form-control" id="fullName" th:field="*{fullName}" placeholder="fullName">
            <small th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}" class="text-danger"></small>
        </div>
        <div class="form-group">
            <label>EMAIL</label>
            <input type="text" class="form-control" th:field="*{email}" placeholder="email">
            <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></small>
        </div>
        <div class="form-group">
            <label>PASSWORD</label>
            <input type="text" class="form-control" th:field="*{password}" placeholder="password">
            <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></small>
        </div>
        <div class="form-group">
            <label>GENDER</label>
            <input type="radio" th:field="*{gender}" value="true"> <label>Nam</label>
            <input type="radio" th:field="*{gender}" value="false"> <label>Nữ</label>
        </div>
        <div class="form-group">
            <label>STATUS</label>
            <input type="radio" th:field="*{status}" value="true"> <label>Hoạt động</label>
            <input type="radio" th:field="*{status}" value="false"> <label>Không hoạt
            động</label>
        </div>
        <button type="submit">UPDATE</button>
    </form>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>